@model Medicina.Models.Seguros

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seguro1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seguro1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoSeguroId">Editar</a> |
    <a asp-action="Index">Volver atrás</a>
</div>
